<div class="container" id="view">
    <div class="alert my-alert-center-style">
        <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
    </div>
    <!--<div class="text-center row">-->
        <!--<h1>Welcome to Blackjack</h1>-->
        <!--<h4>Click Ready to Begin</h4>-->
    <!--</div>-->
    <div class="row">
        <div class="col-6">
            <div class="row">
                <h1>Dealer {{dealer?.count}}</h1>
            </div>
            <div class="row">
                <div *ngFor="let card of dealer?.hand; let j = index" [attr.data-index]="j"
                     class="card {{card?.name}} {{card?.suite}} {{'card-'+j}}"></div>
            </div>
            <div class="row">
                <h1>{{player?.username}} {{player?.count}}</h1>
            </div>
            <div class="row">
                <div *ngFor="let card of player?.hand; let j = index" [attr.data-index]="j"
                     class="card {{card?.name}} {{card?.suite}} {{'card-'+j}}"></div>
            </div>
            <div class="row">
                <h3>Cash: ${{player?.money}}</h3>
            </div>
        </div>
        <div class="col-6">
            <div *ngFor="let player of players; let i = index" class="col">
                <div class="row">
                    <h1>{{player?.username}} {{player?.count}}</h1>
                </div>
                <div class="row">
                    <div *ngFor="let card of player?.hand; let j = index" [attr.data-index]="j"
                         class="card {{card?.name}} {{card?.suite}} {{'card-'+j}}"></div>
                    <h3>Cash: ${{player?.money}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="bet">
    <button (click)="onDecreaseBet()">-</button>
    <input [(ngModel)]="bet" type="number">
    <button (click)="onIncreaseBet()">+</button>
</div>
<div id="buttons">
    <button *ngIf="buttons.ready" (click)="onClickReady()">Ready</button>
    <button *ngIf="buttons.hit" (click)="onClickHit()">Hit</button>
    <button *ngIf="buttons.stay" (click)="onClickStay()">Stay</button>
    <button *ngIf="buttons.double" (click)="onClickDouble()">Double Down</button>
    <button *ngIf="buttons.split" (click)="onClickSplit()">Split</button>
</div>