/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: black !important;
  color: white !important;
  overflow: hidden !important;
  font-family: 'Bree Serif', serif !important;
}

@font-face {
  font-family: 'Lounge';
  src: url('/assets/lounge.ttf') format('truetype');
}
